/* src/styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


  .main-content {
    display: flex;
    flex: 1;
    margin-left: 200px; /* 为内容区域留出菜单栏的宽度 */
  }
  
  .content-area {
    flex: 1;
    padding: 20px;
  }